<!-- <h3>Products</h3>
<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + 'details'">
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button (click)="share()">
    Share
  </button>
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div> -->

<!-- Routing by using RouterLink -->
<h3>Products</h3>
<div *ngFor="let product of products; index as productId">
  <h3>
    <a [title]="product.name + 'details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button (click)="share()">
    Share
  </button>
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
